<p class="info">
  Hasło musi zawierać co najmniej 6 znaków, w tym cyfry, litery i znaki
  specjalne.
</p>
<form class="form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="current-password">
    <input
      type="password"
      id="current-password"
      formControlName="currentPassword"
      [ngClass]="{ 'error-input': error }"
    />
    <span [ngClass]="{ error: error }">Obecne hasło</span>
    <p [ngClass]="{ error: error }">Niepoprawne haslo</p>
  </label>
  <label for="new-password">
    <input
      type="password"
      id="new-password"
      formControlName="password"
      [ngClass]="{ 'error-input': matchPass }"
    />
    <span [ngClass]="{ error: matchPass }">Nowe hasło</span>
    <p [ngClass]="{ error: matchPass }">Hasła nie pasują do siebie</p>
  </label>
  <label for="repeate-password">
    <input
      type="password"
      id="repeate-password"
      formControlName="repeatedPassword"
      [ngClass]="{ 'error-input': matchPass }"
    />
    <span [ngClass]="{ error: matchPass }">Powtórz hasło</span>
  </label>
  <input
    type="submit"
    value="Zmień hasło"
    [disabled]="userForm.invalid"
    [ngClass]="{ disabled: userForm.invalid }"
  />
</form>
