.frames-con {
  width: 100%;
  position: relative;
  top: -53px;
}

.first-frame {
  display: flex;
  margin-right: 15px;
  padding-right: 16px;
  height: max-content;
}

.first-frame .frames {
  min-width: calc(100% - 308px);
}
.first-frame app-mini-calendar {
  width: 301px;
}

.frames {
  height: max-content;
  padding-top: 16px;
  margin: 0 12px 8px 12px;
  background-color: var(--gray90);
  border-radius: 8px;
  border: 1px solid var(--gray80);
}
.frames h3 {
  margin-left: 16px;
  font-weight: 600;
}

.items-container {
  width: 100%;
  display: flex;
  gap: 16px;
  width: 100%;
  padding: 16px 0;
  overflow-x: auto;
}
.item {
  display: flex;
  flex-direction: column;
  min-width: 172px;
  max-width: 172px;
  height: 184px;
  padding: 10px 16px;
  background-color: var(--gray100);
  border-radius: 8px;
  border: 1px solid var(--gray80);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 0px 1px 0px rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.09),
    0px 4px 2px 0px rgba(0, 0, 0, 0.05), 0px 7px 3px 0px rgba(0, 0, 0, 0.01),
    0px 11px 3px 0px rgba(0, 0, 0, 0);
  cursor: pointer;
}

.item:last-child {
  margin-right: 16px;
}

.add-new {
  display: grid;
  align-items: start;
  background-color: var(--gray0);
  margin-left: 16px;
  text-align: center;
  color: var(--yellow50);
}

.add-new .material-symbols-outlined {
  justify-self: center;
  width: 64px;
  height: 64px;
  color: var(--yellow50);
  font-weight: 200;
  font-size: 68px;
}

.add-new .title {
  text-align: center;
  color: var(--yellow50);
}

.title {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  overflow-wrap: anywhere;
}
.content {
  color: var(--gray30);
  font-size: 12px;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
}

.groups {
  display: grid;
  align-items: start;
  text-align: center;
}

.material-symbols-rounded.group {
  justify-self: center;
  width: 64px;
  height: 64px;
  font-weight: 200;
  font-size: 68px;
}
